<div class="py-5 text-center bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1><%= t ".review" %></h1>
        <p class="lead"><%= t ".lead" %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 p-4">
        <img alt="Icon" src="/assets/peo1.jpg" class="img-fluid d-block rounded-circle mx-auto" />
        <p class="my-4">
          <i><%= t ".comment1" %></i>
        </p>
        <p>
          <b><%= t ".peo1" %></b>
          <br><%= t ".des_peo1" %></p>
      </div>
      <div class="col-md-4 p-4">
        <img alt="Icon" src="/assets/test_fish.jpg" class="img-fluid d-block rounded-circle mx-auto" />
        <p class="my-4">
          <i><%= t ".comment1" %></i>
        </p>
        <p>
          <b><%= t ".peo2" %></b>
          <br><%= t ".des_peo2" %></p>
      </div>
      <div class="col-md-4 p-4">
        <img alt="Icon" src="/assets/test_carlito.jpg" class="img-fluid d-block rounded-circle mx-auto" />
        <p class="my-4">
          <i><%= t ".comment1" %></i>
        </p>
        <p>
          <b><%= t ".peo3" %></b>
          <br><%= t ".des_peo3" %></p>
      </div>
    </div>
  </div>
</div>
