<div class="row">
  <div class="col-md-12">
    <%= form_for(ProductTemp.new) do |f| %>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control input-md" %>
      </div>
      <div class="field">
        <%= f.label :price %><br>
        <%= f.text_field :price, class: "form-control input-md" %>
      </div>
      <div class="field">
        <%= f.label :descriptions %><br>
        <%= f.text_field :descriptions, class: "form-control input-md" %>
      </div>
      <br>
      <div class="actions">
         <%= f.submit t(".submit"), class: "form-control btn btn-primary" %>
      </div>
      <br>
    <% end %>
  </div>
</div>
