<%= form_for @order do |f| %>
  <div class="form-group">
    <h5></h5>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <div class="input-group">
      <%= f.label :phone, class: "col-md-3" %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <%= f.label :address, class: "col-md-3" %>
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
  <br>
  <%= f.submit t(".submit"), class: "btn" %>
<% end %>
