<div class="py-3 container mheight">
  <div class="col-md-12">
    <h3><%= t ".manage" %></h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><%= t ".order_code" %></th>
          <th><%= t ".order_date" %></th>
          <th><%= t ".order_address" %></th>
          <th><%= t ".order_status" %></th>
          <th><%= t ".detail" %></th>
        </tr>
      </thead>
      <tbody id="orders">
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
            <td><%= order.address %></td>
            <td>
              <%= get_status_name(order) %>
            </td>
            <td><%= link_to t(".detail"), order %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @orders %>
</div>

