<div class="py-3 container mheight">
  <div class="col-md-12">
    <h3><%= t ".manage" %></h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><%= t ".name" %></th>
          <th><%= t ".price" %></th>
          <th><%= t ".descriptions" %></th>
          <th><%= t ".status" %></th>
        </tr>
      </thead>
      <tbody id="orders">
        <% @product_temps.each do |product_temp| %>
          <tr>
            <td><%= product_temp.name %></td>
            <td><%= product_temp.price %></td>
            <td><%= product_temp.descriptions %></td>
            <td><%= get_status_productname(product_temp) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
