<footer>
  <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-secondary"><%= t ".name_app" %></h2>
          <p class="text-white"><%= t ".name_store" %></p>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-secondary"><%= t ".map" %></h2>
          <ul class="list-unstyled">
            <a href="#" class="text-white"><%= t ".home" %></a>
            <br>
            <a href="#" class="text-white"><%= t ".about" %></a>
            <br>
            <a href="#" class="text-white"><%= t ".services" %></a>
            <br>
            <a href="#" class="text-white"><%= t ".story" %></a>
          </ul>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4"><%= t ".contact" %></h2>
          <p>
            <a href="#" class="text-white">
              <i class="fa d-inline mr-3 text-secondary fa-phone"></i>
            </a>
            <%= t ".phone" %>
          </p>
          <p>
            <a href="#" class="text-white">
              <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>
            </a>
            <%= t ".mail" %>
          </p>
          <p>
            <a href="#" class="text-white" target="_blank">
              <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>
            </a>
            <%= t ".address" %>
          </p>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-light"><%= t ".subcribe" %></h2>
          <form>
            <fieldset class="form-group text-white">
              <label for="exampleInputEmail1"><%= t ".label" %></label>
              <input type="email" class="form-control" placeholder= <%= t ".place_holder" %> ></fieldset>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white"><%= t ".coppy" %></p>
        </div>
      </div>
    </div>
  </div>
</footer>
